body {
  margin: 0;
  padding: 0;
  background-color: rgba(57, 31, 31, 0.05);
}

#root {
  width: 100%;
  height: 100vh;
  position: relative;
}

.clear-fix {
  display: inline-block;
}

.center {
  text-align: center;
}

.clear-fix:after {
  content: "";
  display: table;
  clear: both;
}

.contact-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-align: right;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile:hover + label {
  cursor: pointer;
}

.inputfile + label * {
	pointer-events: none;
}

/*.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}*/

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.graph-card {
  background-color: white;
  margin: 45px auto;
  padding: 20px;
  text-align: center;
  width: 750px;
  position: relative;
}

.x-axis-label {
  position: absolute;
  top: 89%;
  left: 0;
  right: 0;
}

.y-axis-label {
  position: absolute;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  top: 50%;
  left: 32px;
}
